<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="applicationName" source="spring.application.name" defaultValue="unknown-app"/>
    <springProperty scope="context" name="activeProfile" source="spring.profiles.active" defaultValue="default"/>
    <appender name="COLORED_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd | HH:mm:ss.SSS} %highlight(%-5level) [%15.15t] %cyan(%-40.40logger{39}) : %m%n%wEx{full,
                java.lang.reflect.Method.invoke,
                org.springframework.aop.framework.ReflectiveMethodInvocation.proceed,
                org.springframework.web.filter.OncePerRequestFilter.doFilter,
                org.apache.catalina.core.ApplicationFilterChain.internalDoFilter,
                org.apache.catalina.core.StandardWrapperValve.invoke
                }%n
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timestampPattern>yyyy-MM-dd' | 'HH:mm:ss.SSS' | '</timestampPattern>
            <timeZone>Africa/Nairobi</timeZone>
            <customFields>{"application_name":"${applicationName}","profile":"${activeProfile}"}</customFields>
        </encoder>
    </appender>
    <appender name="IN_MEMORY_APPENDER" class="ch.qos.logback.core.read.CyclicBufferAppender">
        <size>250</size>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="COLORED_CONSOLE"/>
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.hibernate.SQL" level="DEBUG"/>
    </springProfile>

    <springProfile>

    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
            <appender-ref ref="IN_MEMORY_APPENDER"/>
        </root>

        <logger name="org.springframework" level="WARN"/>
        <logger name="org.hibernate" level="WARN"/>
        <logger name="org.apache.kafka" level="WARN"/>
        <logger name="com.zaxxer.hikari" level="WARN"/>
    </springProfile>
</configuration>